#TableUserRedux {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
}

#TableUserRedux td,
#TableUserRedux th {
    border : 1px solid #ddd;
    padding: 8px;
}

#TableUserRedux tr:nth-child(even) {
    background-color: #f2f2f2;
}

#TableUserRedux tr:hover {
    background-color: #ddd;
}

#TableUserRedux th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04AA6D;
    color           : white;
}